.header{
    color:#0049B7;
    font-size: 4vw;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    top:200px;
    left:100px;
    
}
.aboutContainer{
    color: white;
}
.picContainer{
   
}
.aboutText{
    color:white;
    
    
    
}
.bio{
    font-size: 2vw;
    padding-bottom: 25px;
    text-indent: 50px;
}
.description{

}