
.header{
    color:#0049B7;
    font-size: 3vw;
    display: flex;
    justify-content: left;
    align-items: left;
    position: relative;
    top:200px;
    left:100px;
    width: 90%;
    
}
.summary{
    color:white;
}
.picContainer{
    width:75vw;
    position: absolute;
    margin-top:450px;
    right:0;
}
.aboutContainer{
    position: absolute;
    margin-top:1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.aboutText{
    font-size: 4vw;
    width:50%;
    color:white;
    position: relative;
}
.bio{
    font-size: 2vw;
    width:50%;
    color: white;
}
.pdfLink{
    width:50%;
    position: relative;
    align-self: left;
    color: #0049B7 !important;
    text-decoration: none;
}
@media screen and (max-width: 1193px){

}
@media screen and (max-width: 760px){
    
    .header{
        left:25px;
    }
    .aboutContainer{
        margin-top:500px;
    }
    .picContainer{
        
        margin-top:250px;
        width: 100vw;
    
    }
    .aboutText{
        font-size: 2rem !important;
    }
    .bio{
        font-size: 1rem !important;
        width:80vw;
        margin-left:25px;
    }
    }