
.ArticleList {
  display: inline-block;
  margin-top:200px;
  margin-left: 100px;
}

.articleTitle{
  font-size: 7vw;
  padding-top: 100px;
  margin: 0 auto;
  text-transform: uppercase;

}

.date{
  color:white;
  font-size: 2vw;
  margin: 0 auto;
}

@media screen and (max-width:600px){
  .ArticleList {
    margin-top:50px;
    margin-left: 25px;
  }
  .article{
    font-size:1.2rem;
    margin-left: 5px;
  }
  .date{
    font-size:1.2rem;
    margin-left: 5px;
  }
}

@media screen and (max-width:600px){
  .ProjectList {
    margin-top:50px;
    margin-left: 25px;
  }
  .projectDesc{
    font-size:1.2rem;
    margin-left: 5px;
  }
  .techlist li{
    margin-right:10px;
    font-size:1rem;
  }
}