.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:200px;
}
.header{
    width:80%;
    font-size: 8vw;
    color: #0049B7;
    margin: 200px 0 200px 100px;
}
.contactContainer{
    width:75%;
    border-radius: 20px;
    overflow: hidden;
    padding:10px;
    display: flex;
    background:black;
}
.contactInfo{
    background: black;
    border-radius: 15px;
    flex: 0 1 40%;
    padding:40px;
    color: white;
    display: flex;
    flex-direction: column;
}
.name{
    font-size: 4rem;
    font-weight: 500;
    margin:0;
    
}
.socialMedia{
    display: flex;
    width: 100%;
    margin-top:50px;
    justify-content: space-between;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:80px;
    width: 80px;
    border-radius: 50%;
    transition: .3 all ease-in-out;
}
.icon i{
    transform: scale(2);
    
}
.icon:hover{
    background: #37485d;
    transition: .3s all ease-in-out;

}

.fa{
    font-size: 25px;
    color:white;
}