.form{
    display: flex;
    flex-direction: column;
    margin-left:25px;
}

.form input {
    border:none;
    height:30px;
    /* font-size: 25px; */
}

.sendButton{
    background-color: transparent;
    border: none;
    color: #0049B7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    transition: all .75s ease-in-out;
}
.sendButton:hover{
    color:white;
    
}