.navContainer{
    padding:10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:150px;
    right:100px;
    transition-timing-function: ease;
}
@media only screen and (max-width: 600px) {
    .navContainer{
        top:400px;
        left:100px;
    }
  }