/* background-image: url('../public/images/bw-sk-cropped.png'); */
.homeContainer{
  height: 100vh;
  width:100%;
  background-image: url('https://samkuttenk-resume.s3-us-west-1.amazonaws.com/bw-sk-full.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
    min-height: 80%;
    min-width: 80%;
    justify-content: right;
    align-items: right;
    padding-right: 10px;
}
.homeText{
  color:white;
}