
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Josefin+Sans:wght@700&display=swap');
//link font
h1, h2, h3, h4, a, li, #name, button, input, textarea{
    font-family: 'Josefin Sans', sans-serif;
    
}
p,#role,#body{
    font-family: 'IBM Plex Sans', sans-serif;
}
input:focus, textarea:focus{
    outline: none;
    border: none;
}
input, textarea{
    caret-color: #0049B7;
    color: #0049B7;
    font-size:3vw;
    border:none;
    background-color:black;
}
textarea{
    resize: none;
}
#project-title, #article-title{
    color: #0049B7;
}

#pdf{
    color: #0049B7 !important;
}
#pdf:hover{
    color: white !important;
    transition: .5s;
}
ul { padding:0 } 
.projectlistContainer, .articlelistContainer{
    top:500px
}

.projects, .articles, #resumelink{
    margin-left:0;
    -webkit-transition: margin .75s;
}
.proejcts:focus, .projects:hover, .articles:focus, .articles:hover, #resumelink:hover  {
    margin-left:50px;
    transition: transform .75s ease-out;
    -webkit-transition: .75s ease;
    -moz-transition: .75s ease;
    -o-transition: .75s ease;
    -ms-transition: .75s ease;
    transition: .75s ease;
  }

 
.p-details{
    margin-left:25px;
}
.p-details ul{
    opacity: 0;
    transition: 0.5s;
}
.projects:hover ul{
    opacity: 1;
    
}
#resumelink a{
    opacity: 0;
    transition: 0.5s;
}
#resumelink:hover a{
    opacity: 1;
}

#name{
    width:100%;
    height:50px;
}
#email{
    width:100%;
    height:50px;
}
#message{
    width:100%;
    height:50px;
}
#name::placeholder{
    font-size:2vw;
    color: #0049B7;
}
#email::placeholder{
    font-size:2vw;
    color: #0049B7;
}
#message::placeholder{
    font-size:2vw;
    color: #0049B7;
}
#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width:55px;
    border-radius: 50%;
    transition: .3 all ease-in-out;
}
#icon i{
    transform: scale(2.5);
}
#icon:hover{
    background: #37485d;
    transition: .3s all ease-in-out;
    transform: scale(1.2);
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

#letter{
    color:white;
    position: relative;
    margin-bottom:50px;
    transform: scale(5);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-10000%);
    }
    100% {
      transform: translateX(0);
    }
  }


@media screen and (max-width: 600px){
.p-details ul{
    opacity: 1;
    
}

#project-title, #article-title{
    font-size: 4rem;
}
#tech-list{
    font-size: .5rem;
    padding-left:5px;
}

.ProjectsList_ProjectList__1dYYN{
    margin-left:25px;
}
#name::placeholder{
    font-size:25px;
    color: #0049B7;
}
#email::placeholder{
    font-size:25px;
    color: #0049B7;
}
#message::placeholder{
    font-size:25px;
    color: #0049B7;
}


}
