
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Josefin+Sans:wght@700&display=swap');
//link font
h1, h2, h3, h4, a, li{
    font-family: 'Josefin Sans', sans-serif;
    
}
p{
    font-family: 'IBM Plex Sans', sans-serif;
}
#pdf{
    color: #0049B7 !important;
}
#pdf:hover{
    color: white !important;
    transition: .5s;
}
