.navItem{
    color:#0049B7;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 2s; /* delays for 1 second */
    -webkit-transition-delay: 2s; /* for Safari & Chrome */

  }

  @media only screen and (max-width: 600px) {
    .navItem{
       font-size: 5rem; 
    }
  }