.navItem{
    color:#0049B7;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.navItem:hover{
  -webkit-transition: all 1s ease-out;
}
  @media only screen and (max-width: 600px) {
    .navItem{
       font-size: 5rem; 
    }
  }