.navItem{
    color:#0049B7;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mobileHomeLink{
    display:none;
    
}
.navItem:hover{
  -webkit-transition: all 1s ease-out;
}
  @media only screen and (max-width: 600px) {
    .navItem{
       display:none;

    }
    .mobileHomeLink{
      display:block;
      color:#0049B7;
      font-size: 8vw;
      position: relative;
      display:flex;
      margin-right:0;
      font-size:3rem;
    }
  }