
.ProjectList {
  display: block;
  margin-top:200px;
  margin-left: 100px;
}

.projectTitle{
  font-size: 8vw;
  padding-top: 100px;
  margin: 0 auto;
  text-transform: uppercase;

}
.techList{
  color:white;
}


.techlist li{
  margin-right:25px;
}
.projectDesc{
  color:white;
  font-size: 2vw;
  margin: 0 auto;
}


.techList{
  display: inline;

}
.techName{
  text-transform: uppercase;
  list-style: none;
  display: inline;
}

@media screen and (max-width:600px){
  .ProjectList {
    margin-top:50px;
    margin-left: 25px;
  }
  .projectDesc{
    font-size:1.2rem;
    margin-left: 5px;
  }
  .techlist li{
    margin-right:10px;
    font-size:1rem;
  }
}
